<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
            text-align: center;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            display: flex; /* Usa flexbox */
            flex-direction: column; /* Alinea los elementos verticalmente */
            align-items: center; /* Centra los elementos horizontalmente */
        }
        h1 {
            color: #333;
        }
        .icon {
            width: 200px;
            color: chartreuse;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>CORREO VERIFICADO</h1>
        <p>SU CUENTA A SIDO VERIFICADA CORRECTAMENTE.</p>
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-2 h-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg> 
        </div>         
    </div>
</body>
</html>
